<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>OFF-Tools</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Adicionando JQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script type="text/javascript">
        
            //Consulta os estados no IBGE
            $.getJSON("https://servicodados.ibge.gov.br/api/v1/localidades/estados", function(data) {
            
            var items = [];
            var options = '<option value="">escolha um estado</option>';

            $.each(data, function (key, val) {
                console.log()
                options += '<option value="' + val.sigla + '">' + val.nome + '</option>';
            });					
            $("#uf").html(options);

        });
        
        </script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>OFF</strong> Tools</a>
					<nav id="nav">
						<a href="#filosofia">Filosofia</a>
						<a href="{% url 'scanner' %}">Ferramentas</a>
						<a href="#team">Sobre Nós</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>OFF-Tools</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-crosshairs"></span>
							<h3>Automação</h3>
							<p>Eficiência em suas análises ofensivas!</p>
						</div>

						<div>
							<span class="icon fa-rocket"></span>
							<h3>Velocidade</h3>
							<p>Não precisa instalar, apenas executar!</p>
						</div>

						<div>
							<span class="icon fa-arrows-alt"></span>
							<h3>Mobilidade</h3>
							<p>Utilize de qualquer lugar!</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
		<a name="team"></a>
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{% static 'images/tools-icon.png' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>Nossas Ferramentas!</h3>
							</header>
							<p>Nossas ferramentas surgem de idéias em conjunto com nossos contribuidores, a organização  possui como missão desenvolver ferramentas de segurança
							da informação com ênfase ofensivo, utilizando em sua matriz o Desenvolvimento de Software seguro e técnicas de engenharia de Software. <br />A ferramenta
								da vez em nossa linha de produção é o Scan de SSRF (Server Side Request Forgery) que tem como finalidade analisar e identificar Sites
							suscetíveis a esse tipo  de vulnerabilidade, testando todos os parâmetros definidos pelo usuário.
							</p>
							<footer>
								<a href="#" class="button">Saiba Mais</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{% static 'images/pic02.jpg'%}" alt="Pic 02" />
							</div>
							<header>
								<h3>Sobre o Time!</h3>
							</header>
							<p>O time da OFF-Tools é formado por profissionais de Tecnologia, Desenvolvedores e Pentester além de Analistas de Segurança Cibernética e
								Engenheiros de Software.<br />Cada membro possui sua individualidade, que abrange o leque de conhecimentos desta organização.
								Alocados em diferentes regiões do Brasil, os integrantes da OFF-Tools desenvolvem por paixão, afim de entregar o melhor produto
								a seus usuários!<br /></p>
							<footer>
								<a href="#" class="button">Membros</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Filosofia -->
		<div>
		<a name="filosofia"></a>
			<section class="wrapper align-center">
				<div>
					<div>
						<article>
							<header>
								<h3>Filosofia</h3>
							</header>
							<p>
							<h3>A OFF-Tools tem como filosofia principal, o desenvolvimento de ferramentas OpenSource,
							Nossa meta como organização, é demonstrar com nossos códigos que profissionais da área de
							segurança também podem desenvolver softwares robustos, utilizando técnicas avançadas
							para o mesmo. Com isso em mente, buscamos sempre inovar em nossas ferramentas, podendo
							demonstrar para a comunidade que Segurança da Informação, pode sim andar de mãos
							dadas com qualidade de desenvolvimento.</h3>
							</p>
						</article>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Junte-se ao OFF-Tools!</h3>

					<form action="{% url 'home' %}" method="post">
						{% csrf_token %}
						<div class="field half first">
							<label for="name">Nome</label>
							<input name="name" id="name" type="text" placeholder="Informe seu Nome:">
						</div>
						<div class="field half">
							<label for="github">Usuário do GitHub</label>
							<input name="github" id="github" type="text" placeholder="Informe seu usuário do GitHub:">
						</div>
						<div class="field half first">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Informe seu e-mail:">
						</div>
						<div class="field half">
							<label for="uf">Estado</label>
							<select id="uf">
								<option value=""></option>
							</select>
						</div>
						<div class="field">
							<label for="message">Mensagem</label>
							<textarea name="message" id="message" rows="6" placeholder="Fale um pouco sobre Você!"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Contribuir com o Projeto" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Por <a href="https://github.com/Off-Tools/">OFF-Tools</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
