<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>OFF-Tools</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Adicionando JQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script type="text/javascript">
        
            //Consulta os estados no IBGE
            $.getJSON("https://servicodados.ibge.gov.br/api/v1/localidades/estados", function(data) {
            
            var items = [];
            var options = '<option value="">escolha um estado</option>';

            $.each(data, function (key, val) {
                console.log()
                options += '<option value="' + val.sigla + '">' + val.nome + '</option>';
            });					
            $("#uf").html(options);

        });
        
        </script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>OFF</strong> Tools</a>
					<nav id="nav">
						<a href="#filosofia">Filosofia</a>
						<a href="#">Ferramentas</a>
						<a href="#team">Sobre Nós</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>OFF-Tools</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Aliquam</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Elementum</h3>
							<p>Class aptent taciti ad litora</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Ultrices</h3>
							<p>Nulla vitae mauris non felis</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
		<a name="team"></a>
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{% static 'images/tools-icon.png' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>Sobre a Ferramenta</h3>
							</header>
							<p>Idéia de um conjunto de contribuidores com interesse em comum em Ferramentas de Segurança
							da Informação Ofensiva e Desenvolvimento de Software seguro, <br />a finalidade da ferramenta, será analisar Sites
							suscetíveis a SSRF (Server Side Request Forgery) testando todos os parâmetros definidos.
							</p>
							<footer>
								<a href="#" class="button">Saiba Mais</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{% static 'images/pic02.jpg'%}" alt="Pic 02" />
							</div>
							<header>
								<h3>Sobre o time</h3>
							</header>
							<p>O time é formado por profissionais de Tecnologia,<br />com interesses em comum em Desenvolvimento de Software Seguro e Segurança da Informação.<br /></p>
							<footer>
								<a href="#" class="button">Membros</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Filosofia -->
		<div>
		<a name="filosofia"></a>
			<section class="wrapper align-center">
				<div>
					<div>
						<article>
							<header>
								<h3>Filosofia</h3>
							</header>
							<p>
							<h3>Decidir o que escrever</h3>
							</p>
						</article>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Junte-se ao OFF-Tools</h3>

					<form action="{% url 'home' %}" method="post">
						{% csrf_token %}
						<div class="field half first">
							<label for="name">Nome</label>
							<input name="name" id="name" type="text" placeholder="Informe seu Nome:">
						</div>
						<div class="field half">
							<label for="github">Usuário do GitHub</label>
							<input name="github" id="github" type="text" placeholder="Informe seu usuário do GitHub:">
						</div>
						<div class="field half first">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Informe seu e-mail:">
						</div>
						<div class="field half">
							<label for="uf">Estado</label>
							<select id="uf">
								<option value=""></option>
							</select>
						</div>
						<div class="field">
							<label for="message">Mensagem</label>
							<textarea name="message" id="message" rows="6" placeholder="Fale um pouco sobre Você!"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Contribuir com o Projeto" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Por <a href="https://github.com/Off-Tools/">OFF-Tools</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
